@import '../../variables';
@import '../../mixins';

#modal.my-track-started,
#modal.my-track-finished,
#modal.my-track-v1-migration,
#modal.change-to-independent-mode,
#modal.change-to-mentored-mode,
#modal.leave-track,
#modal.pause-track,
#modal.unpause-track {
    h2 {
        color: $t2;
    }
    h3 {
        color: $t2;
    }
    p {
        color: $t2;
    }
    .pure-button {
        background: $color-1;
    }
}

#modal.my-track-started {
    .learn-more {
        border-top-color: $bord;
        a {
            color: $link;
        }
    }
    .buttons {
        .pure-button {
            border-color: $color-1;
            &.independent-mode-button {
                border-color: $color-1;
                background: transparent;
                color: $color-1;
            }
        }
    }
}

#modal.my-track-v1-migration {
    .pure-button {
        border-color: $color-1;
        &.independent-mode {
            border-color: $color-1;
            background: transparent;
            color: $color-1;
        }
    }
}

#modal.change-to-independent-mode,
#modal.change-to-mentored-mode,
#modal.leave-track,
#modal.pause-track,
#modal.unpause-track {
    .pure-button {
        border-color: $color-1;
        &.cancel-button {
            border-color: $color-1;
            background: transparent;
            color: $color-1;
        }
    }
}
