@import '../../variables';
@import '../../mixins';

#modal.my-track-started,
#modal.my-track-finished,
#modal.my-track-v1-migration,
#modal.change-to-independent-mode,
#modal.change-to-mentored-mode,
#modal.leave-track,
#modal.pause-track,
#modal.unpause-track {
    img {
    }
    h2 {
        color:#555;
    }
    h3 {
        color:#555;
    }
    p {
        color:#555;
    }
    .pure-button {
        background:$color-1;
    }
}

#modal.my-track-started {
    .learn-more {
        border-top: 1px solid #ddd;
        a {
            color:#333;
        }
    }
    p strong { font-weight:500 }
    .buttons {
        .pure-button {
            border:1px solid $color-1;
            &.independent-mode-button {
                border:1px solid $color-1;
                background:#fff;
                color:$color-1;
            }
        }
    }
}

#modal.my-track-v1-migration {
    .pure-button {
        border:1px solid $color-1;
        &.independent-mode {
            border:1px solid $color-1;
            background:#fff;
            color:$color-1;
        }
    }
}

#modal.change-to-independent-mode,
#modal.change-to-mentored-mode,
#modal.leave-track,
#modal.pause-track,
#modal.unpause-track {
    .pure-button {
        border:1px solid $color-1;
        &.cancel-button {
            border:1px solid $color-1;
            background:#fff;
            color:$color-1;
        }
    }
}
