@import "variables";
@import "mixins";

::selection {
  color: white;
  background-color: rgba(28, 197, 0, 0.5);
}

code::selection,
code ::selection {
  color: inherit;
  background-color: rgba(28, 197, 0, 0.3);
}

a::selection,
a ::selection {
  color: white;
  background-color: rgba(0, 157, 197, 0.3);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  transition: .5s;

  &:hover {
    background-color: rgba(#fff, 0.05);
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#fff, 0.2);
  &:hover {
    background-color: $color-1t;
  }
}

::-webkit-scrollbar-corner {
  background-color: $bg2;
}
