@import "variables";
@import "mixins";

#cli-walkthrough {
  h1 {
    border-bottom-color: #e5e5e5;
  }

  a {
    color: #333;
  }

  blockquote {
    border-left-color: #eceeef;
  }

  hr {
    color: #e5e5e5;
    background-color: #e5e5e5;
  }

  //TODO
  pre {
    border-color: #ddd;
    background: #fafafa;
  }
}
