@import "variables";
@import "mixins";

#cli-walkthrough {
  h1 {
    border-bottom-color: $bord;
  }

  a {
    color: $link;
  }

  blockquote {
    border-left-color: $bord;
  }

  hr {
    color: $bord;
    background-color: $bord;
  }

  pre {
    border-color: $bord;
    background: $bg2;
  }
}
