@import "variables";
@import "mixins";

#cli-walkthrough {
  h1 {
    border-bottom-color: $bord;
  }

  a {
    color: $link;
    text-decoration: none;
    box-shadow: 0 1px 0 $link-u2;
    &:hover {
      box-shadow: 0 1px 0 $link-u;
    }
  }

  blockquote {
    border-left-color: $bord;
  }

  hr {
    color: $bord;
    background-color: $bord;
  }

  pre {
    border-color: $bord;
    background: $bg2;
  }
}
