@import 'variables';
@import 'mixins';

body .md-editor {
    .btn-toolbar {
        background: $bg;
    }
   .btn-group {
        button {
            background: $bg;
        }
    }
    textarea {
        background: $bg;
        border-top-color: $bg3 !important;
    }
}

.editable-text .editable-text-html,
.new-editable-text .preview-area {
    blockquote {
        border-left-color: $bord;
    }
    a {
        color: $link;
        text-decoration: none;
        box-shadow: 0 1px 0 $link-u2;
        &:hover {
            box-shadow: 0 1px 0 $link-u;
        }
    }

    pre {
        border-color: #f3f3f3;
        background: #fafafa;
    }

    p, li {
        code {
            border-color: lighten($bg2, 1%);
            background: darken($bg2, 2%);
        }
        pre code {
            border: none;
        }
    }

    table {
        th, td {
            border-color: #ddd;
        }
        tr:nth-child(even) {
            background:#fafafa;

        }
    }
}

body.prism-dark {
    :not(pre) > code[class*=language-],
    pre[class*="language-"] {
        background: lighten($bg, 2%);
        border-color: $bg3;
    }

    .editable-text .editable-text-html,
    .new-editable-text .preview-area {
        pre[class*="language-"] {
            background: lighten($bg, 2%);
        }
    }

    .line-numbers .line-numbers-rows {
        border-right-color: $bord;
    }
}
