@import 'variables';
@import 'mixins';

#cta-footer {
    background:$color-2;
    color: $t1;
    .logo {
        color: $t1;
    }

    p {
        color: $t1;
    }
    .pure-button {
        &.sign-up-button,
        &.languages-button {
            border-color: #fff;
            color: $t1;
            background:$color-2;
            &:hover {
                color:$color-2;
                background:#fff;
            }
        }
    }
}
