@import 'variables';
@import 'mixins';

body {
    color:$t2;
    background-color: $bg;
}

button,
input,
select,
textarea {
    color:white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ddd;
}
.pure-button {
    color: $t1;
    &:focus {
        box-shadow: 0 0 8px rgba(0,0,0,.4) inset;
    }
}
input {
    border-color: #aaa;
}
.styled-select {
    border-color: #ccc;
    select {
        background:transparent;
    }
}
