@import 'variables';
@import 'mixins';

.editable-text {
    .editable-text-viewer {
        .editable-text-options {
            color: $t3;
            a {
                color: $t3;
                &:hover {
                    color: $t1;
                }
            }
        }

        .edited-status {
            color: $t3;
        }
    }

    .editable-text-editor {
        .buttons {
            .update-button {
                border-color: $color-2;
                background: $color-2;
                color: $t1;
            }
            .cancel-button {
                background: transparent;
                border-color: $bord;
                color: $t3;
                &:hover {
                    color: $t1;
                }
            }
        }
    }
}
