@import 'variables';
@import 'mixins';

.editable-text {
    .editable-text-viewer {
        .editable-text-options {
            color: #999;
            a {
                color: #999;
                &:hover {
                    color:#666;
                }
            }
        }

        .edited-status {
            color: #999;
        }
    }

    .editable-text-editor {
        .buttons {
            .update-button {
                border-color: $color-2;
                background: $color-2;
                color: #fff;
            }
            .cancel-button {
                background:#fff;
                border-color: #ccc;
                color:#999;
            }
        }
    }
}
