@import 'variables';
@import 'mixins';

body:not(.prism-dark) > header.logged-in {
    height: 80px;
    &::before {
        content: "Please go to SETTINGS ➔ PREFERENCES and enable »Dark Code Theme«";
        display: block;
        font-size: 16px;
        padding: 10px 10px 0;
        text-align: center;
    }
}

header.logged-in {
    box-shadow: 0 0 5px rgba(black, 0.3);
    background:$bg3;

    .misc-menu {
        //?
        .in-situ {
            img {
                border-color: rgba(#fff, 0.5);
            }
            i {
                color:#d7d7d7;
            }
        }
        .dropdown {
            background: $bg3;
            border-color: $bord;
            box-shadow: 0 0 3px rgba(black, 0.3);
            i {
                color: $bord;
                &:after {
                    color: $bg3;
                }
            }

            .person {
                color:$t1;
            }
            ul{
                border-top-color: $bord;
            }

            a {
                color:$t2;
                &:hover {
                    background: $bg2;
                }
            }
        }
    }
    .notifications {
        color:rgba(#fff, 0.9);
        background:rgba(#fff, 0.06);
        color:#bababa;
        text-shadow: 0 0 1px rgba(0,0,0,0.7);
        &.active {
            &:before {
                background:#f34a56;
            }
        }
    }
}
