@import 'variables';
@import 'mixins';

header.logged-out {
    background: $bg3;
    border-bottom-color: transparent;

    .options {
        a {
            color: rgba(#fff, 0.9);
            &+a {
                border-left-color: rgba(#fff, 0.3);
            }
        }
    }
}

