@import 'variables';
@import 'mixins';

#nav.lo-nav-bar {
    background: $bg2;
    border-bottom-color: transparent;
    a {
        color: $link;
        &::before {
            background-color: transparent;
        }

        &:hover::before {
            background-color: $link-u2;
        }

        &:nth-child(n+1)::after {
            opacity: 0.2;
        }
    }

}

#nav.lo-external-nav-bar {
    background:#eee;
}

