@import 'variables';
@import 'mixins';

nav.breadcrumb {
    background: $bg2;
    border-bottom-color: transparent;

    li {
        &:after {
            filter: invert(0.7);
        }
    }

    a {
        color: $link;
        text-decoration: none;
        &:hover {
            text-decoration: underline solid $link-u;
        }
    }
    .current-link {
        color: $t2;
        &:hover {
            text-decoration: underline solid $t4;
        }
    }
}
