.pagination {
    background: transparent;
    .page, .next, .last, .prev, .first {
        border-color: $bord;
        &.current {
            background: $color-1;
            color: #fff;
            border-color: $color-1;
        }
        &.gap {
            color: $t2;
        }
        a {
            color: $t2;
        }
    }
}


