@import 'variables';
@import 'mixins';

#settings-bar.lo-settings-bar {
    background: $bg2;
    a {
        color: $t2;
        &.selected {
            color: lighten($color-2, 5%);
            border-bottom-color: $color-2;
        }
    }
}
