@import 'variables';
@import 'mixins';

body.namespace-teams {
    a.logo {
        color: #fff;
        span {
            border-left:1px solid #fff;
        }
    }
}

.namespace-teams {
    .h2-subheading {
        color:#666;
    }
}

.team-page {
    #team-header {
        background:#eee;
        .avatar {
            border:1px solid rgba(#fff, 0.5);
        }
        h1 {
            background-color:$color-2;
            color:#fff;
        }
        a {
            color:#666;
            &.selected {
                color:$color-2;
                border-bottom:3px solid $color-2;
            }
        }
    }
}
