@import '../../variables';
@import '../../mixins';

#my-solution-unlocked-page,
#my-solution-page {
    .track-header-container {
        background:#3ab292;
        color: $t1;
        a {
            color: $t1;
        }
        @include width-small() {
            background:none;
            color:$t2;
            a {
                color:$t2;
            }
        }
    }
    .track-header {
        @include width-small() {
            border-color: $bord;
        }
        .icon {
            background:$color-1;
            border-color: $bg;
            box-shadow:0 0 1px 1px $color-1;
        }
        .inner {
            .track-progress {
                h3 {
                    color:$t3;
                }
                .dots {
                    .dot {
                        background:transparent;
                        border-color: lighten($bord2, 5%);
                        &.current {
                            border-color:$color-1;
                        }
                        &.locked {
                            background: lighten($bord2, 5%);
                        }
                        &.completed {
                            border-color:$color-1;
                            background:$color-1;
                        }
                        &+.dot {
                            &:before {
                                background:lighten($bord2, 5%);
                            }
                            &.completed,
                            &.current {
                                &:before {
                                    background:$color-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#my-solution-page .inner .widget-iterations-nav,
#my-solution-page .small-iterations-nav .widget-iterations-nav {
    a, .current {
        .idx {
            color:$color-1;
            border-color:$color-1;
        }
        .num-comments {
            &:after {
                color:$color-1;
                text-shadow:0 0 2px #fff;
            }
            .num { color: $t1; }
        }
        &.current {
            .idx {
                background: $color-1;
                border-color:$color-1;
                color: $t1;
            }
            .num-comments {
                &:after {
                    color: $t1;
                    text-shadow: -1px -1px 0 $color-1,  1px -1px 0 $color-1, -1px 1px 0 $color-1, 1px 1px 0 $color-1;
                }
                .num { color:$color-1; }
            }
        }
    }
}

#my-solution-page,
#teams-my-solution-page,
#teams-solution-page {
    .migration-bar {
        background:rgba(red, 0.05);
        border-color: rgba(red, 0.2);
        color:#e73b3b;
        a {
            color:$link;
        }
        i {
            color:$color-1;
        }
    }
    .notifications-bar {
        background:rgba($color-1, 0.05);
        @include width-small() {
            background:none;
        }

        .notification {
            color:$color-1;

            @include width-small() {
                border-color: rgba($color-1, 0.2);
                background:rgba($color-1, 0.05);
            }
            a {
                color:#333;
            }
            i {
                color:$color-1;
            }
            &.action {
                border-color:$color-1;
            }
        }
    }

    .update-exercise-section,
    .download-section {
        border-color: $bord;
    }
    .update-exercise-section {
        .pure-button {
            background:$color-1;
            color: $t1;
        }
    }

}

#modal.solution-confirm-unapproved-completion {
    #modal-close-button {
        border-top-right-radius: 6px;
    }
    .warning-bar {
        background:#ffe3e3;
        color:#f34a56;
    }
    .content {
        h2 {
            color:#555;
        }
        p {
            color:#555;
        }
        .pure-button {
            border-color: #ccc;
            background:#fff;
            color:#333;
        }
    }
}

#modal.solution-completed,
#modal.solution-reflection,
#modal.solution-mentor-ratings,
#modal.solution-unlocked {
    .progress {
        i {
            color:#ddd;
            &.filled {
                color:$color-1;
            }
        }
    }
}

#modal.solution-completed {
    .icon {
        background:$color-1;
    }
    h2 {
        color:#555;
    }
    h3 {
        color:#555;
    }
    p {
        color:#555;
    }
    .pure-button {
        background:$color-1;
    }
}

#modal.solution-reflection,
#modal.solution-mentor-ratings {
    h2 {
        color:#555;
    }
    p {
        color:#888;
        strong {
            color:#333;
        }
    }

    .pure-button {
        background:$color-1;
        color: $t1;
    }
}


#modal.solution-reflection {
    .checkbox {
        color:#555;
    }
    textarea {
        border-color: #e9e9e9;
    }
}

#modal.solution-mentor-ratings {
    .mentor-review {
        .details {
            .handle {
                color:#333;
            }
            .interactions {
                color:#888;
            }
        }
        .stars {
            input { display: none; }

            label {
              color: #ddd;
            }

            input:checked ~ label,
            &:not(:checked) > label:hover,
            &:not(:checked) > label:hover ~ label { color: #FFD700;  }

            input:checked + label:hover,
            input:checked ~ label:hover,
            label:hover ~ input:checked ~ label,
            input:checked ~ label:hover ~ label { color: #FFED85;  }
        }

        .feedback {
            textarea {
                border-color: #e9e9e9;
            }
        }
    }
}

#modal.solution-unlocked {
    h2 {
        color:#555;
    }
    h3 {
        color:#555;
    }
    p {
        color:#555;
    }
    .core-exercise {
        border-color: $color-1;
        color:#333;

        .icon {
            background:$color-1;
        }

        .title {
            color:#333;
            .topics {
                .topic {
                    background: $bg3;
                    color: $t2;
                }
            }
        }
        .blurb {
            color:#666;
        }

    }
    .side-exercises {
        h4 {
            color: $t3;
            strong {
                color: $t2;
            }
        }
        .side-exercise {
            border-color: $color-2t;
            .tooltip {
                background:$bg;
                color: $bg3;
                border-color: rgba(white, 0.3);
                box-shadow: 0 0 1px rgba(0,0,0, 0.2);
                &:before {
                    color:#444;
                }
                &:after {
                    color:#333;
                }
            }
            &:hover {
                background:$color-2;
            }
        }
    }
    .pure-button {
        background:$color-1;
    }
}
