@import '../../variables';
@import '../../mixins';

#my-solution-unlocked-page,
#my-solution-page {
    .track-header-container {
        background: $color-1;
        color: $t1;
        a {
            color: $t1;
        }
        @include width-small() {
            background: none; // important
            color: $t2;
            a {
                color: $t2;
            }
        }
    }
    .track-header {
        @include width-small() {
            border-color: $bord;
        }
        .icon {
            background: $color-1;
            border-color: $bg;
            box-shadow: 0 0 1px 1px $color-1;
        }
        .inner {
            .track-progress {
                h3 {
                    color: $t3;
                }
                .dots {
                    .dot {
                        background: transparent;
                        border-color: lighten($bord2, 5%);
                        &.current {
                            border-color: $color-1;
                        }
                        &.locked {
                            background: lighten($bord2, 5%);
                        }
                        &.completed {
                            border-color: $color-1;
                            background: $color-1;
                        }
                        &+.dot {
                            &:before {
                                background: lighten($bord2, 5%);
                            }
                            &.completed,
                            &.current {
                                &:before {
                                    background: $color-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#my-solution-page .inner .widget-iterations-nav,
#my-solution-page .small-iterations-nav .widget-iterations-nav {
    a, .current {
        .idx {
            color: $color-1;
            border-color: $color-1;
        }
        .num-comments {
            &:after {
                color: $color-1;
                text-shadow: 0 0 2px $bg;
            }
            .num {
                color: $bg;
            }
        }
        &.current {
            .idx {
                background: $color-1;
                border-color: $color-1;
                color: $bg;
            }
            .num-comments {
                &:after {
                    color: $bg;
                    text-shadow: -1px -1px 0 $color-1, 1px -1px 0 $color-1,
                                 -1px  1px 0 $color-1, 1px  1px 0 $color-1;
                }
                .num {
                    color: $color-1;
                }
            }
        }
    }
}

//#teams-solution-page,
//#teams-my-solution-page,
#my-solution-page {
    .migration-bar {
        background: rgba(red, 0.05);
        border-color: rgba(red, 0.2);
        color:#e73b3b;
        a {
            color: $link;
        }
        i {
            color: $color-1;
        }
    }
    .notifications-bar {
        background:rgba($color-1, 0.05);
        @include width-small() {
            background:none;
        }

        .notification {
            color:$color-1;

            @include width-small() {
                border-color: rgba($color-1, 0.2);
                background: rgba($color-1, 0.05);
            }
            a {
                color: $t2;
                &:hover {
                    color: $link;
                }
            }
            i {
                color: $color-1;
            }
            &.action {
                border-color: $color-1;
            }
        }
    }

    .update-exercise-section,
    .download-section {
        border-color: $bord;
    }
    .update-exercise-section {
        .pure-button {
            background:$color-1;
            color: $t1;
        }
    }

}

#modal.solution-confirm-unapproved-completion {
    .warning-bar {
        background: rgba(#f34a56, 0.1);
        color: #f34a56;
    }
    .content {
        h2 {
            color: $t2;
        }
        p {
            color: $t2;
        }
        .pure-button {
            border-color: $bord;
            background: transparent;
            color: $t2;
        }
    }
}

#modal.solution-completed,
#modal.solution-reflection,
#modal.solution-mentor-ratings,
#modal.solution-unlocked {
    .progress {
        i {
            color: $bord;
            &.filled {
                color: $color-1;
            }
        }
    }
}

#modal.solution-completed {
    .icon {
        background: $color-1;
    }
    h2 {
        color: $t1;
    }
    h3 {
        color: $t2;
    }
    p {
        color: $t2;
    }
    .pure-button {
        background:$color-1;
    }
}

#modal.solution-reflection,
#modal.solution-mentor-ratings {
    h2 {
        color: $t1;
    }
    p {
        color: $t2;
        strong {
            color: $t2;
        }
    }

    .pure-button {
        background: $color-1;
        color: $t1;
    }
}


#modal.solution-reflection {
    .checkbox {
        color: $t2;
    }
    textarea {
        border-color: $bord;
        background-color: $bg2;
        &:focus {
            border-color: $color-1t;
        }
        &::placeholder {
            color: $t4;
        }
    }
}

#modal.solution-mentor-ratings {
    .mentor-review {
        .details {
            .handle {
                color: $t1;
            }
            .interactions {
                color: $t3;
            }
        }
        .stars {
            label {
              color: $t4;
            }

            input:checked ~ label,
            &:not(:checked) > label:hover,
            &:not(:checked) > label:hover ~ label {
                color: #FFD700;
            }

            input:checked + label:hover,
            input:checked ~ label:hover,
            label:hover ~ input:checked ~ label,
            input:checked ~ label:hover ~ label {
                color: #FFED85;
            }
        }

        .feedback {
            textarea {
                border-color: $bord;
                background-color: $bg2;
                &:focus {
                    border-color: $color-1t;
                }
            }
        }
    }
}

#modal.solution-unlocked {
    h2 {
        color: $t1;
    }
    h3 {
        color: $t2;
    }
    p {
        color: $t2;
    }
    .core-exercise {
        border-color: $color-1;
        color: $t3;

        .icon {
            background: $color-1;
        }

        .title {
            color: $t2;
            .topics {
                .topic {
                    background: $bg3;
                    color: $t2;
                }
            }
        }
        .blurb {
            color: $t3;
        }

    }
    .side-exercises {
        h4 {
            color: $t3;
            strong {
                color: $t1;
            }
        }
        .side-exercise {
            border-color: $color-2t;
            .tooltip {
                background: $bg2;
                color: $t2;
                border-color: $bord;
                box-shadow: none;
                &:before {
                    color: $bord;
                }
                &:after {
                    color: $bg2;
                }
            }
            &:hover {
                background:$color-2;
            }
        }
    }
    .pure-button {
        background:$color-1;
    }
}
