@import '../../variables';
@import '../../mixins';

#my-solution-page .finished-section {
    color:$t2;
    .title-block,
    .next-block {
        border-color: $color-1;
        i {
            color: $color-1;
        }
        a {
            color: $link;
        }
    }

    .next-block {
        &:before {
            border-left-color: $color-1;
        }
    }
    .next-option {
        p {
            border-left-color: $color-1;
        }
        .pure-button {
            background:$color-1;
            color: $t1;
        }
    }
}
