@import '../../variables';
@import '../../mixins';

#my-solution-page .rhs,
#teams-solution-page .rhs,
#teams-my-solution-page .rhs {
    h3.rhs-heading {
        border-bottom-color: $bord;
        color:$t1;
        &.disabled {
            color:$t4;
        }
    }
    p.disabled {
        a {
            color:$link;
        }
    }
    .approved-section,
    .next-steps {
        background:rgba($color-1, 0.05);
        .title {
            color:$color-1;
        }
        p a {
            color:$link;
        }
    }
    form {
        textarea, .preview-area {
            border-color: $bord;
        }
    }
    .complete-button {
        &.unapproved {
            background:transparent;
            border-color: $bord;
            color: $t3;
            &:hover {
                border-color: red;
                color:red;
            }
        }
        &.independent {
            background:$color-1;
            color: $t1;
        }
        &.approved {
            background:$color-1;
            color: $t1;
        }
    }
    .comment-button {
        background: $color-1;
        color: $t1;
        &.faded {
            background: transparent;
            border-color: $bord;
            color: $t3;
            &:hover {
                color: $t1;
            }
        }
    }
    .request-mentoring {
        background:$color-1;
        color: $t1;
    }
}
