@import '../variables';
@import '../mixins';

#teams-landing-page {
    .welcome-section {
        .rhs {
            h1 {
                color: $color-2;
                img {
                    background: white;
                }
            }
            p {
                color:#333;
            }
            .pure-button {
                &.sign-up-button {
                    background:$color-3;
                    color: $t1;
                }
                &.languages-button {
                    border-color: $color-2;
                    color:$color-2;
                    background:#fff;
                }
            }
        }
    }
    .tracks-section,
    .how-section {
        .title-block {
            p a {
                color:#333;
            }
        }
    }
    .tracks-section {
        background:#fafefe;
        border-color: #eee;
        .title-block {
            p {
                color:#666;
                a {
                    color:#666;
                }
            }
        }
        .tracks {
            .row {
                .track {
                    .title {
                        color: $t1;
                    }
                    .left-eye,
                    .right-eye {
                        background: #fff;
                        .pupil {
                            background:#000;
                        }
                    }
                }
            }
        }
        .tracks-mini {
            a {
                color: #333;
                .track-mini {   
                    border-color: $color-2;
                    .logo {
                        background-color: $color-2;
                        color: $color-2;
                    }
                    .title {
                        background-color: #fff;
                    }
                }
                &:hover .track-mini, &:hover .track-mini .title {
                    background-color: $color-2 !important;
                    color: #fff;
                }
            }
        }
    }
    .how-section {
        .divider {
            border-bottom-color: #ddd;
            @include width-small() {
                border-bottom-color: #eee;
            }
        }
    }
    .pr-section {
        // must be bright, because of the images
        background: linear-gradient(#ddd, #fff 57%, #fff 63%, #ddd);
        h2 {
            color: $t2;
        }
    }
    .cta-section {
        background: $color-2;
        h2 {
            color: $t1;
        }
        .pure-button {
            border-color: #fff;
            background:#00bac9;
            color: $t1;
        }
    }

}

#modal.announcement {
    h2 {
        color:#555;
    }
    p {
        color:#555;
        a {
            color:#555;
        }
    }
    .pure-button {
        background:$color-1;
    }
}

