@import '../mixins';
@import '../variables';

#teams-memberships-page {
    h3 {
        border-bottom: 1px solid #ddd;
        color: #333;
    }
    .pure-button {
        background:$color-2;
    }

    table.memberships-table {
        th {
            border-bottom:1px solid #eee;
        }
        td a {
            color:$color-2;
            border-bottom:1px solid rgba($color-2, 0.3);
        }
    }
}
