@import '../variables';
@import '../mixins';

#teams-my-solutions-page {
    .num-solutions {
        color:$t3;
    }

    .widget-side-exercise {
        .stats {
            .language {
                border-right-color: $t3;
                color: $t3;
            }
            .num-iterations {
                color: $t3;
            }
        }
        .status {
            color: $t4;
        }
    }
    .pure-button {
        background: $color-2;
    }
}
