@import '../variables';
@import '../mixins';

#teams-my-solution-unlocked-page {
    .instructions {
        .rendered {
            h2 {
                border-bottom-color: #eee;
            }
            a {
                color:#333;
                border-bottom-color: #ccc;
            }

        }
        .pure-button {
            background:$color-1;
            color: $t1;
        }
    }

    .experienced {
        border-color: #e5e5e5;
    }
    .newbie {
        background:#fafffe;
        border-color: $color-1;
        .pure-button {
            background:$color-1;
            color: $t1;
        }
    }
}

body:not(.prism-dark) #teams-my-solution-unlocked-page {
    .instructions {
        .rendered {
            pre {
                background:#f6f6f6;
            }
            code {
                color:#666;
            }
        }
    }
}
