@import '../mixins';
@import '../variables';

#teams-new-team-page {
    form {
        .field {
            p {
                color:#999;
            }
            input, textarea {
                border-color: #ccc;
            }
        }
        .pure-button {
            background:$color-2;
        }
    }
}
