@import '../variables';
@import '../mixins';

#teams-new-solution-page {
    .exercise-radio-button {
        &:checked+.widget-side-exercise {
            border-color: #009cab;
            box-shadow: 0 0 0 1px #009cab;

        }
    }
    .pure-button {
        background:$color-2;
    }
}
