@import '../mixins';
@import '../variables';

#teams-teams-page {
    .invitations {
        .pure-button {
            background:$color-2;
            color: $t1;
        }
    }
    .team,
    .new-team {
        border-color: #ccc;
        color:#333;
        &:hover {
            border-color:rgba($color-2, 0.5);
            .img {
                border-color:rgba($color-2, 0.5);
            }
        }
        .img {
            border-color: #ccc;
            background:#fff;
        }
    }
    .team {
        .members {
            color:#aaa;
        }
    }
    .new-team {
        .img i {
            color: #666;
        }
    }
}
