@import "../variables";
@import "../mixins";

.teams-table {
    border:1px solid #eee;
	tr {
		&:nth-child(odd) {
			background:#fafafa;
		}
	}
	td {
		&:first-child {
		}
		&:last-child {
		}
		a {
			color:$color-2;
		}
	}
}

