@import '../variables';
@import '../mixins';

$inner-width: 800px;

#become-a-mentor-page {
    .welcome-section {
        .box {
            background: rgba(#fff, 0.95);
            border-color: $color-2;
            h1 {
                color:$color-2;
            }
            p {
                color:#333;
            }
            .pure-button {
                &.register-button {
                    background:$color-3;
                    color: $t1;
                }
                &.learn-more-button {
                    border-color: $color-2;
                    color:$color-2;
                    background:#fff;
                }
            }
        }
    }
    .pr-section {
        // must be bright, because of the images
        background:linear-gradient(#ddd, #fff 57%, #fff 63%, #ddd);
        border: none;
        h2 {
            color:#444;
        }
    }

    .section {
        h2 {
            strong {
                color:$color-3;
            }
        }
        h3 {
            color:#7b7b7b;
        }
        li a {
            color:#333;
        }
    }
    .vision-section .box {
        border-color: #d4d4d4;
    }
    .role-section {
        background:#fafafa;
    }
    .benefits-section,
    .great-mentor-section {
        border-bottom-color: #ddd;
    }
    .cta-section {
        .box {
            border-color: #aaa;
            background:#fafafa;
        }
        .pure-button {
            background:$color-3;
        }
    }
}
