@import '../variables';
@import '../mixins';

$inner-width: 800px;

/*body.controller-pages.action-index {
    footer {
    }
}*/

#become-a-mentor-page {
    .welcome-section {
        background-image:image-url('mentor-bg.jpg');
        background-repeat:repeat;
        background-size:400px;
        .box {
            background:rgba(#fff, 0.95);
            border:1px solid $color-2;
            h1 {
                color:$color-2;
            }
            p {
                color:#333;
            }
            .pure-button {
                &.register-button {
                    background:$color-3;
                    color:#fff;
                }
                &.learn-more-button {
                    border:1px solid $color-2;
                    color:$color-2;
                    background:#fff;
                }
            }
        }
    }
    .pr-section {
        // must be bright, because of the images
        background:linear-gradient(#ddd, #fff 57%, #fff 63%, #ddd);
        border: none;
        h2 {
            color:#444;
        }
    }

    .section {
        h2 {
            strong {
                color:$color-3;
            }
        }
        h3 {
            color:#7b7b7b;
        }
        li a {
            color:#333;
        }
    }
    .vision-section .box {
        border:1px solid #d4d4d4;
    }
    .role-section {
        background:#fafafa;
    }
    .benefits-section,
    .great-mentor-section {
        border-bottom:1px solid #ddd;
    }
    .cta-section {
        .box {
            border:1px solid #aaa;
            background:#fafafa;
        }
        .pure-button {
            background:$color-3;
        }
    }
}
