@import '../variables';
@import '../mixins';

$inner-width: 800px;

#become-a-mentor-page {
    .welcome-section {
        .box {
            background: rgba(#000, 0.92);
            border-color: $color-2;
            h1 {
                color: $color-2;
            }
            p {
                color: $t2;
            }
            .pure-button {
                &.register-button {
                    background: $color-3;
                    color: $t1;
                }
                &.learn-more-button {
                    border-color: $color-2;
                    color: $color-2;
                    background: transparent;
                }
            }
        }
    }
    .pr-section {
        // must be bright, because of the images
        background: linear-gradient(#ddd, #fff 57%, #fff 63%, #ddd);
        h2 {
            color: #444;
        }
    }

    .section {
        h2 {
            strong {
                color: lighten($color-3, 15%);
            }
        }
        h3 {
            color: $t1;
        }
        li a {
            color: $t2;
        }
    }

    .vision-section .box {
        border-color: $bord;
    }

    .role-section,
    .great-mentor-section {
        background: lighten($bg, 3%);
    }

    .benefits-section,
    .great-mentor-section {
        border-bottom-color: transparent;
    }

    .cta-section {
        .box {
            border-color: $bord;
            background: $bg2;
        }
        .pure-button {
            background:$color-3;
        }
    }
}
