@import '../variables';
@import '../mixins';

#blog-posts {
    .header {
        background-color: $color-2t;
        .heading {
            color: $t1;
            a {
                color: $t1;
                border-bottom-color: transparent;
                &:hover {
                    border-bottom-color: $bord;
                }
            }
        }
        .subheading {
            color: $t1;
        }
    }
    .sidebar {
        @include width-smaller-than-medium() {
            border-top-color: $bord;
        }
        @include width-medium() {
            border-left-color: $bord;
        }
        ul a {
            color: $link;
            border-bottom-color: $bord2;
            &:hover {
                border-color: $link;
            }
        }

        h3 {
            @include width-smaller-than-medium() {
                color: $color-2b;
            }
        }
    }

    h2 {
        color: $color-2b;
    }

    .blog-post {
        color: $t2;
        border-left-color: $bg3;
        &:hover {
            border-left-color: $color-2;
            h3 .text {
                border-bottom-color: $bord;
            }
            .img {
                box-shadow: 0 0 0 2px $color-2;
                border-color: $color-2;
            }
        }
        .img {
            border-color: $bg3;
            box-shadow: 0 0 0 2px $bg3;
        }
        h3 .text {
            border-bottom-color: transparent;
        }
        .details {
            color: $t3;
        }
    }

}
