@import '../variables';
@import '../mixins';

#blog-post {
    .header {
        background-color:$color-2t;
        .heading {
            a {
                color: $t1;
                border-bottom-color: transparent;
                &:hover {
                    border-bottom-color: rgba(#fff, 0.5);
                }
            }
        }
        .subheading {
            color: $t1;
        }
    }
    .blog-content {
        a {
            color: $link;
            text-decoration: none;
            box-shadow: 0 1px 0 $link-u2;
            &:hover {
                box-shadow: 0 1px 0 $link-u;
            }
        }
    }
    h1 {
        color: $t2;
    }
    .byline {
        border-bottom-color: $bord;
    }
    .categories {
        a {
            background: $bg3;
            color: $t2;
        }
    }

    .author {
        border-top-color: $bord;
        img {
            background: #eee;
        }
        .bio {
            color: $t3;
        }
        a {
            background: transparent;
            border-color: $color-2;
            color: $color-2;
            &:hover {
                background: $color-2;
                color: $t1;
            }
        }
    }

    .comments-section {
        border-top-color: $bord;
        .comments {
            .no-comments {
                color: $t4;
            }
        }

        .blog-comment {
            .divider {
                background: $bg3;
            }
            &.delete {
                .avatar, .comment-body {
                    opacity:0.3;
                }
            }

            .comment-footer {
                color: $t3;

                a {
                    color: $link;
                    text-decoration: none;
                    border-bottom: 1px solid $link-u2;
                    &:hover {
                        border-bottom-color: $link-u;
                    }
                }
            }
        }
    }
}
