@import '../variables';
@import '../mixins';

#blog-posts {
    .header {
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        background-color:$color-2;
        .heading {
            color:#fff;
            a {
                color:#fff;
                border-bottom:1px solid transparent;
                &:hover {
                    border-bottom-color:rgba(#fff, 0.5);
                }
            }
        }
        .subheading {
            color:#fff;
        }
    }
    .sidebar {
        @include width-smaller-than-medium() {
            border-top:1px solid #ddd;
        }
        @include width-medium() {
            border-top:0;
            border-left:1px solid #ddd;
        }
        ul a {
            color:#333;
            border-bottom:1px solid #ccc;
        }

        h3 {
            @include width-smaller-than-medium() {
                color:$color-2;
            }
        }
    }

    h2 {
        color:$color-2;
    }

    .blog-post {
        color:#333;
        border-left:3px solid #eee;
        &:hover {
            border-left-color:$color-2;
            h3 .text {
                border-bottom-color:#ddd;
            }
            .img {
                box-shadow: 0 0 0 2px $color-2;
            }
        }
        .img {
            background-position:center center;
            background-size:cover;
            border:1px solid #fff;
            box-shadow: 0 0 0 2px #eee;
        }
        h3 .text {
            border-bottom: 1px solid transparent;
        }
        .details {
            color:#888;
        }
    }

}
