@import '../variables';
@import '../mixins';

#modal.edit-profile {
    .rhs {
        @include width-medium() {
            border-left-color: $bord;
        }
        h3 {
            color:$t2;
        }
    }

    .h2-subtitle {
        color:#999;
    }
    .name-section,
    .bio-section {
        h3 {
            color: $t2;
        }
    }
    .name-section,
    .bio-section {
        input,
        textarea {
            color: $t2;
            border-color: $bord;
            background-color: $bg2;
        }
    }

    .field {
        i {
            color:$t2;
            border-right-color: $bord;
        }
        input {
            background: $bg2;
            color:$t2;
            border-color: $bord;
        }
        &.twitter,
        &.medium,
        &.github {
            &:before {
                color:$t3;
            }
        }
    }
    .pure-button {
        background: $color-1;
        &.cancel-button {
            border-color: $color-1;
            color:$color-1;
            background:transparent;
        }
    }
}
