@import '../variables';
@import '../mixins';

#modal.edit-profile {
    .avatar-section {
        h3 {
            color: $t2;
        }

        .text-hint {
            color: $t4;
        }

        .text-error {
            color: red;
        }
    }
}
