@import '../variables';
@import '../mixins';

#exercises-page {
    .header {
        background-color: $color-2;
        .h1-subtitle {
            color: $t1;
            opacity:0.75;
        }
        .num-solutions {
            color:#ededed;
        }
        .status {
            background:#fff;
            border-color: $color-2;
            color:#555;
        }
        .pure-button {
            border-color: #fff;
            background:#00bac9;
            background:$color-3;
            color: $t1;
        }
    }
    .exercises {
        background:#f9f9f9;

        .exercise {
            background:#fff;
            color:#333;
            border-color: $line-color-1;
            &:hover {
                background:$color-2-opaque;
                border-color:$color-2;
            }

            .icon {
                border-color: $color-2;
                background:#fff;
            }
            .stats {
                .length {
                    border-right-color: #aaa;
                    color:#aaa;
                }
                .difficulty {
                    &.easy { color: $color-1; }
                    &.medium { color: #f48b00 }
                    &.hard { color: #f34a56 }
                }
            }
            .topics {
                .topic {
                    background: $bg3;
                    color: $t2;
                }
            }
        }
    }
}
