@import '../variables';
@import '../mixins';

#exercise-page,
#solutions-page {
    .header {
        background-color:$color-2t;
        .track {
            .title {
                color: $t1;
            }
        }
        .icon {
            border-right-color: rgba(#fff, 0.5);
        }

        h1 {
            color: $t1;
        }
        .h1-subtitle {
            color:#eee;
            a {
                color: $t1;
            }
        }
    }
}

#exercise-page {
    .info-section {
        border-bottom-color: #ddd;
        .length {
            border-right-color: #aaa;
            color:#aaa;
        }
        .difficulty {
            &.easy { color: $color-1; }
            &.medium { color: #f48b00 }
            &.hard { color: #f34a56 }
        }

        .topics {
            .topic {
                background: $bg3;
                color: $t2;
            }
        }
    }
    .more-button {
       border-color: $color-2;
       color:$color-2;
       background:#fff;
    }
}

