@import '../variables';
@import '../mixins';

#generic-page {
    .header {
        background-color: $color-2t;
        h1 {
            color: $t1;
        }
    }
    .changes, .links {
        border-top-color: $bord;
    }

    p, ul, ol {
        a {
            color: $link;
            border-bottom-color: $link-u2;
            &:hover {
                border-bottom-color: $link-u;
            }
        }
    }
    pre {
        border-color: $bord;
    }
}
