@import '../variables';
@import '../mixins';

#generic-page {
    .header {
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        background-color:$color-2;
        h1 {
            color:#fff;
        }
    }
    .changes, .links {
        border-top:1px solid #eee;
    }

    p,ul,ol {
        a {
            color:#333;
            border-bottom:1px solid #aaa;
        }
    }
    pre {
        border: 1px solid #ddd;
    }
}
