@import '../variables';
@import '../mixins';

#mentor-configure-page {
    .header {
        background: $color-2t;
        h1 {
            color: $t1;
        }
        .h1-subtitle {
            color: $t1;
            a {
                color: $t1;
            }
        }
    }

    label {
        background:rgba($color-2, 0.1);
        border-color: rgba($color-2, 0.2);
    }

    .pure-button {
        background:$color-2;
        color: $t1;
    }
}

