@import '../variables';
@import '../mixins';

#mentor-exercise-notes {
    p, ul, ol {
        a {
            color: $link;
            border-bottom-color: $bord;
            &:hover {
                border-bottom-color: $link;
            }
        }
    }
    pre {
        border-color: $bord;
    }

    .changes {
        border-top-color: $bord;
    }
}
body.namespace-mentor.controller-exercise_notes.action-show {
    #mentor-exercise-notes {
        .header {
            background-color:$color-2t;
            h1 {
                color: $t1;
            }
        }
    }
}
#modal-wrapper #modal.mentor-exercise-notes {
    h1 {
        background: $color-1;
        color: $t1;
    }
    #modal-close-button {
        background: $color-1;
        color: $t1;
        &:hover {
            background: darken($color-1, 5%);
        }
    }
}
