@import '../variables';
@import '../mixins';

$blue: #4A90E2;

#mentor-dashboard-page,
#mentor-next-solutions-page,
#mentor-testimonials-page {
    .header {
        background: $color-2t;
        h1 {
            color: $t1;
        }
        .h1-subtitle {
            color: $t1;
            a {
                color: $t1;
            }
        }
        .header-tabs {
            .header-tab {
                background: darken($color-2, 20%);
                color: $t1;
                &.selected {
                    background: $bg;
                    color: $t2;
                }
            }
        }
    }
    .subheading {
        color:$t3;
    }
    .no-solutions-section {
        i {
            color: $t4;
        }
        h2 {
            color: $color-2;
        }
        p {
            color: $t3;
        }
    }
    .no-your-solutions,
    .no-next-solutions {
        background:rgba($color-2, 0.05);
        border-color: $color-2;
        color:$t2;
    }

    .solution {
        border-color: $bord;
        &:hover {
            border-color: $color-2;
        }
        &.core {
            border-color: $color-2t;
        }

        .core {
            color: $color-2;
        }
        .side,
        .independent {
            color: $t3;
        }
        .icons {
            .exercise {
                background: transparent;
                border-color: $color-2;
            }
            .joiner {
                border-bottom-color: $color-2;
            }
            .person {
                border-color: $color-2;
            }
        }
        .details {
            @include width-medium() {
                border-left-color: transparent;
            }
            .difficulty {
                &.easy {
                    color: $color-1;
                }
                &.medium {
                    color: #f48b00;
                }
                &.hard {
                    color: #f34a56;
                }
            }
            .title {
                color:$t3;
                .handle {
                    color:$t2;
                }
            }

            .extra {
                color:$t3;
                .divider {
                    border-right-color: $bord;
                }
            }
        }
    }

    .help-section,
    .rating-section,
    .weekly-section,
    .contributions-section,
    .celebration-section {
        background: $bg2;
        h2 {
            color: $color-2;
        }
        .h2-subtitle {
            color: $t3;
        }
        .box {
            background: $bg;
            strong {
                color: lighten($color-2, 15%);
            }
            a {
                color: $link;
                border-bottom-color: $link-u2;
                &:hover {
                    border-bottom-color: $link-u;
                }
            }
        }
    }
    .rating-section {
        border-color: $bord;
        h2 {
            background-color: lighten($bg, 3%);
            border-bottom-color: $bg3;
            color: $color-2;
        }
        .rating {
            color: $color-2;
            border-bottom-color: rgba($color-1, 0.2);
        }
    }
    .weekly-section {
        .bar-widget {
            .bar {
                background: $bg2;
                .fill {
                    background: $color-2;
                }
            }
            .count {
                background: $bg;
                border-color: $color-2;
            }
            &.completed {
                .fill {
                    background-color: $color-2;
                }
                .count {
                    border-color: $color-2;
                }
            }
        }
        .hr {
            border-top-color: $bord;
        }
    }
}


#mentor-next-solutions-page {
    .next-exercises-navigation {
        .label {
            color: $t2;
            &.zero-count {
                color:$t4;
            }
            &.selected {
                color:$color-2 !important;
            }
        }
        .title {
            .label {
                color:$t1;
            }
        }
        .subtitle {
            .label {
                color:$t1;
            }
        }
        .exercises {
            border-left-color: $bg3;
            .label {
                &.selected {
                    &:before {
                        border-left-color: $color-2;
                    }
                }
            }
        }
    }
}

#mentor-testimonials-page {
    .testimonial {
        .feedback {
            i {
                color: darken($t4, 15%);
            }
        }
        .about {
            color: $t3;
        }
        .user {
            color: $t2;
        }
        .exercise {
            color: $color-2;
        }
        & + .testimonial {
            border-top-color: $bord;
        }
    }
    .pagination {
        border-top-color: $bord;
    }
}