@import '../variables';
@import '../mixins';

#modal.welcome-to-mentoring {
    h2 {
        color: $t2;
    }
    p, li {
        a {
            color: $link;
        }
    }

    .pure-button {
        background: $color-2;
    }
}
