@import '../variables';
@import '../mixins';

#mentor-exercise-notes {
    p,ul,ol {
        a {
            color:#333;
            border-bottom-color: #aaa;
        }
    }
    pre {
        border-color: #ddd;
    }

    .changes {
        border-top-color: #ddd;
    }
}
body.namespace-mentor.controller-exercise_notes.action-show {
    #mentor-exercise-notes {
        .header {
            background-color:$color-2t;
            h1 {
                color: $t1;
            }
        }
    }
}
#modal-wrapper #modal.mentor-exercise-notes {
    h1 {
        background:$color-1;
        color: $t1;
    }
    #modal-close-button {
        background:$color-1;
        color: $t1;
    }
}
