@import '../variables';
@import '../mixins';

#mentor-analyses {
    form {
        .pure-button {
            background:$color-1;
        }
    }
    th {
        border-bottom-color: #aaa;
    }
    td {
        border-bottom-color: #ddd;
        border-right-color: #eee;
        &:last-child {
            border-right-color: transparent;
        }
    }
}

