@import '../variables';
@import '../mixins';
#notifications-page {
    .header {
        background-color: $color-2t;
    }
    .header-bar {
        .mark-all-button {
            background: transparent;
            border-color: $color-2b;
            color: $color-2b;
        }
    }
    .notification {
        border-color: $bord;
        &.read {
            opacity: 0.4;
        }

        .image {
            color:#333;
            border-right-color: $bord;
        }
        .info {
            color:$t2;

            .when {
                color: $t3;
            }
        }
        .mark-as-read-button {
            background-color: $color-2;
            border-color: $color-2;
        }
    }
    .no-notifications {
        color: $t2;
    }

    .pure-button {
        background: $color-2;
    }
}
