@import '../variables';
@import '../mixins';

#my-preferences-page {
    .lhs {
        @include width-medium() {
            border-right-color: $bord;
        }
    }
    h3 {
        color: $t2;
    }
    p {
        color: $t2;
    }

    .settings-section {
        border-bottom-color: $bord;
    }

    label {
        color: $t3;
    }

    .pure-button {
        background: $color-2;
        color: $t1;
    }
}
