@import '../variables';
@import '../mixins';

#my-solution-unlocked-page {
    .rhs {
        @include width-medium() {
            border-left-color: $bord;
        }
    }

    .instructions {
        .rendered {
            h2 {
                border-bottom-color: $bord;
            }
            a {
                color: $link;
                border-bottom-color: $bord;
                &:hover {
                    border-bottom-color: $link;
                }
            }
        }
        .pure-button {
            background: $color-1;
            color: $t1;
        }
    }

    .experienced {
        border-color: $bord;
        p {
            color: $t2;
        }
    }
    .newbie {
        background: $bg2;
        border-color: $color-1;
        .pure-button {
            background: $color-1;
            color: $t1;
        }
    }

    .page-links {
        border-color: $bord;
        a {
            color: $t3;
            &:hover {
                color: $link;
            }
        }
    }
}

body:not(.prism-dark) #my-solution-unlocked-page {
    .instructions {
        .rendered {
            pre {
                background:#f6f6f6;
            }
            code {
                color:#666;
            }
        }
    }
}
