@import '../variables';
@import '../mixins';

#my-settings-page,
#my-preferences-page,
#my-track-settings-page {
    .settings-section {
        &.toggle {
            .toggles {
                i.fa.fa-toggle-on {
                    color: $color-2;
                }
                i.fa.fa-toggle-off {
                    color: #aaa;
                }
            }
            label {
                color: $t3;
            }
        }
    }
}

#my-settings-page,
#my-track-settings-page,
#my-settings-delete-account-page {
    h2 {
        color: $t2;
    }
    .settings-section {
        border-bottom-color: $bord;
        &.danger {
            border-color: red;
            background:rgba(red, 0.03);
            h2 i {
                color: red;
            }
            .pure-button {
                background: darkred;
            }
        }
        .alert {
            color: red;
            a {
                color: red;
            }
        }
    }
    p, ul, .token-explanation {
        color: $t2;
    }
    .token-reset {
        .pure-button {
            background: darkred;
        }
    }
    .field {
        label {
            color: $t3;
        }
        input {
            border-color: $bord;
            background: $bg2;
            &:focus {
                outline: none;
                border-color: $color-2t;
            }
        }
    }
    .pure-button {
        background: $color-2;
        color: $t1;
    }
    .tracks {
        th {
            border-bottom-color: $bord;
        }
    }
    .track {
        .default, .anon {
            .handle {
                color: $t2;
            }
            input[type=text] {
                border-color: $bord;
            }
        }
        .toggles {
            i.fa.fa-toggle-on {
                color: $color-2;
            }
            i.fa.fa-toggle-off {
                color: $t3;
            }
        }
        .error {
            color: red;
        }
    }
}

#my-settings-delete-account-page {
    .field, .field.checkbox {
        label {
            color: $t3;
        }
    }
}
