@import '../variables';
@import '../mixins';

#mentor-registration-page {
    h1 {
        color:#555;
        border-bottom-color: #ddd;
    }
    h2 {
        color: $color-2b;
    }
    p a {
        color:#666;
    }

    label {
        background: rgba($color-2, 0.1);
    }

    .pure-button {
        background: $color-2;
        color: $t1;
    }
}
