@import '../variables';
@import '../mixins';

#profiles-page {
    .header {
        background-color:$color-2;
        background-image:image-url('background-overlay-2.png');
        background-size:cover;
        h1 {
            color:#fff;
        }
        .h1-subtitle {
            color:#fff;
        }
    }
    .profile {
        color:#333;
        border:1px solid rgba($color-2, 0.5);
        &:hover {
            border:1px solid $color-2;
            background:rgba($color-2, 0.05);
        }
    }
}
