@import '../variables';
@import '../mixins';

#solutions-page,
#my-starred-solutions-page,
#exercise-page {
    .user-solution,
    .solution {
        border-color: $bord;
        &:hover {
            border-color:$color-2;
        }

        .exercise {
            color:$t2;
        }
        .track {
            color:$t3;
        }
        .details-bar {
            .handle,
            .published-at,
            .detail {
                color:$t3;
            }
        }
    }
    .user-solution {
        background:#fafafa;
        border-color: #ddd;
        color:#999;
        .not-published {
            border-color: $color-2;
            color:$color-2;
            background:#fafafa;
        }
    }
    .solution {
        .reactions {
            background:#fafafa;
            border-color: #eee;
            .reaction {
                border-right-color: #eee;
                &.highlight {
                    i, .count {
                        color:$color-2;
                    }
                }
                .count {
                    color:#888;
                }

                i {
                    color:#aaa;
                }
            }
        }
    }
}
