@import '../variables';
@import '../mixins';

#solutions-page,
#my-starred-solutions-page,
#exercise-page {
    .user-solution,
    .solution {
        border-color: $bord;
        &:hover {
            border-color: $color-2t;
        }

        .exercise {
            color: $t2;
        }
        .track {
            color: $t3;
        }
        .details-bar {
            .handle,
            .published-at,
            .detail {
                color:$t3;
            }
        }
    }
    .user-solution {
        background: $bg2;
        border-color: $bord;
        color: $t2;
        .not-published {
            border-color: $color-2;
            color:$color-2;
            background: $bg2;
        }
    }
    .solution {
        .reactions {
            background: $bg2;
            border-color: $bord;
            .reaction {
                border-right-color: $bg3;
                &.highlight {
                    i, .count {
                        color: $color-2;
                    }
                }
                .count {
                    color: $t3;
                }

                i {
                    color: $t2;
                }
            }
        }
    }
}
