@import '../variables';
@import '../mixins';

#team-page {
    .header {
        background-color: $color-2t;
        h1 {
            color: $t1;
        }
        h3 {
            color: $t1;
            a {
                color: $t1;
                border-bottom-color: $t3;
            }
        }
    }
    .changes {
        border-top-color: $bord;
    }

    p.subheading {
        color: $t3;
    }

    .core {
        border-bottom-color: $bord;
    }
    .widget-maintainer, .widget-mentor {
        .bio {
            color: $t3;
        }
    }
    .core {
        .core-person {
            border-color: $bord;
            &:hover {
                background: $bg2;
            }

            h3 {
                color: $color-2b;
            }
            .bio {
                color: $t2;
            }
            .tags {
                .tag {
                    background: $color-2t;
                    color: $t1;
                }
            }
        }

    }

    .contributors {
        .contributor {
            border-color: $bord;
            color: $t2;
            &:hover {
                background: $bg2;
            }

            img {
                border-right-color: $bord;
            }
            h3 {
                color: $color-2b;
            }
            .num-contributions {
                color: $t3;
                background: rgba(#fff, 5%);
                border-color: rgba(#fff, 5%);
            }
        }
        .pure-button {
            border-color: $color-2;
            background: transparent;
            color: $color-2b;
            &:hover {
                background: $color-2;
                color: $t1;
            }
        }
    }
}
