@import '../variables';
@import '../mixins';

#team-intro-page {
    section.intro-section {
        p a {
            color: $color-2b;
        }

        .map img {
            filter: invert(1) hue-rotate(180deg);
        }
    }
    .section-link {
        color: $color-2b;
    }

    .details-section {
        background: $bg;

        .group {
            background: $bg2;
        }
    }
}

#team-members-page {
    section {
        h3 {
            color: #fff;

            a {
                color: #fff;
                border-bottom-color: $bord;
            }
        }
    }

    .widget-maintainer, .widget-mentor {
        .bio {
            color: $t2;
        }

    }

    .person {
        h3 {
            color: $t2;
        }

        .bio {
            color: $t2;
        }

        .holding-text {
            color: $t4;
        }

        &.contributor a {
            color: $color-2b;
        }
    }

    .contributors {
        .contributor {
            border-color: #ddd;
            color: #333;

            &:hover {
                background: #fafafa;
            }

            img {
                border-right-color: #ddd;
            }

            h3 {
                color: $color-2b;
            }

            .num-contributions {
                color: $t3;
                background: #eee;
                border-color: #ddd;
            }
        }

        .pure-button {
            border-color: $color-2;
            background: transparent;
            color: $color-2b;

            &:hover {
                background: $color-2;
                color: #fff;
            }
        }
    }
}
