@import '../variables';
@import '../mixins';

#tracks-page {
    .header {
        background-color:$color-2t;
        h1 {
            color: $t1;
        }
        .h1-subtitle {
            color: $t1;
        }
    }
    .num-tracks {
        color: $t2;
    }
    .track {
        background: $bg2;
        color: $t2;
        border-color: $bord;

        &:hover {
            border-color: $color-2t;
        }

        .title {
            .num-exercises {
                color: $t2;
                background: $bg3;
            }
        }
    }
}
