@import '../variables';
@import '../mixins';

#unsubscribe-page {
    h3 {
        color:#555;
    }
    p {
        color:#666;
    }

    .settings-section {
        border-bottom-color: #ddd;
    }

    label {
        color:#666;
    }

    .pure-button {
        background:$color-2;
        color: $t1;
    }
}

