@import '../variables';
@import '../mixins';

.widget-code-snippet {
    border-color: $bord;
    background-color: $bg2;
    button {
        background:$color-1;
        border-color: $color-1;
        &.copied {
            background: #fff;
            color: $color-1;
        }
    }
    input {
        background:transparent;
        color:$t3;
    }
}

