@import '../variables';
@import '../mixins';

.widget-code-snippet {
    border-color: $bord;
    background-color: $bg2;
    button {
        background: $color-1;
        border-color: $color-1;
        &.copied {
            background: darken($color-1, 10%);
            border-color: darken($color-1, 10%);
            color: #fff;
        }
    }
    input {
        background: transparent;
        color: $t3;
    }
}

