@import '../variables';
@import '../mixins';

.widget-iterations-nav {
    .iterations {
        .current, a {
            .num-comments {
                .num {
                    color: $bg;
                }
            }
            .idx {
                color: $t1;
                border-color: $t3;
            }
            .num-comments {
                &:after {
                    color: $t1;
                    text-shadow: -1px -1px 0 darken($color-1, 7%), 1px -1px 0 darken($color-1, 7%),
                                 -1px  1px 0 darken($color-1, 7%), 1px  1px 0 darken($color-1, 7%);
                }
                .num {
                    color: $color-1;
                }
            }
            &.current {
                .idx {
                    background: $t1;
                    border-color: $t1;
                    color: $color-1;
                }
            }
        }
    }
}

