@import '../variables';
@import '../mixins';

.widget-maintainer,
.widget-mentor {
    border-color: $bord;

    h3 {
        color: $color-2b;
        a {
            border-left-color: $bord;
            color: $link;
        }
    }
    .bio {
        color: $t3;
        .holding-text {
            color: $t3;
        }
    }
   .banner {
        background: $color-2;
        color: $t1;
    }
}
